head {
  a {
    color: antiquewhite;
    text-align: center;

  }
}


body {
  background-image:url(bgimg.png);
  background-repeat: no-repeat;
  background-size: cover;
 font-family: Arial, Helvetica, sans-serif;
 color: antiquewhite;
  text-align: center;

  

}

.div {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  width: 320px;
  height: 320px;
  margin: 0 auto;

}