
head {
  a {
    color: antiquewhite;
    text-align: center;

  }
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 20%;
  margin-left: 20%;

}

@import url(https://fonts.googleapis.com/css?family=Rubik);


body {
  font-family: 'Rubik',serif;
  text-align: center;
  background-image:url(ambg.png);
  background-repeat: no-repeat;
  background-size: cover;
 color: antiquewhite;
  width: 50vw; /* Or use percentages like 50% or viewport units like 50vw */
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 20%;
  margin-left: 20%;
  

  

}


