head {
  a {
    color: antiquewhite;
    text-align: center;

  }
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 20%;
  margin-left: 20%;
}


body {
  text-align: center;
  background-image:url(bgimg.png);
  background-repeat: no-repeat;
  background-size: cover;
 font-family: Arial, Helvetica, sans-serif;
 color: antiquewhite;
  width: 50vw; /* Or use percentages like 50% or viewport units like 50vw */
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 20%;
  margin-left: 20%;
  

}



